@tailwind base;
@tailwind components;

@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic');

@font-face {
  font-family: 'Cera Pro', 'PT Sans' sans-serif;
  src: local('Cera Pro'), url(../webfonts/Cera-Pro-medium.woff) format('woff');
}

html,
body {
  width: 100vw;
  overflow-x: hidden;
  font-family: 'Cera Pro', 'PT Sans', sans-serif !important;
}
