@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic');

@tailwind base;
@tailwind components;

@font-face {
  font-family: 'Cera Pro', 'Gotham', 'PT Sans' sans-serif;
  src: local('Cera Pro'), url('../webfonts/Cera-Pro-Medium.woff') format('woff');
}

/* @font-face {
  font-family: 'Cera Pro', sans-serif;
  src: local('Cera Pro'), url('../webfonts/Cera-Pro-medium.woff') format('woff');
} */

html,
body {
  width: 100vw;
  overflow-x: hidden;
  /* font-family: 'Cera Pro', 'Gotham', 'PT Sans', sans-serif !important; */
  font-family: 'PT Sans', sans-serif !important;
}
.cera {font-family: 'Cera Pro' !important;}
